* {
	border = 0;
	padding = 0;
}

body {
	padding: 50px;
}
.collapsible-body {
	background-color: #ddd;
}

.left {
	display: inline-block;
	width: 35%
}

.right {
	display: inline-block;
	width: 60%;
	/*border: 2px solid black;*/
	height: 355px;
	margin-left: 65px;
}

.card-image img {
	height: 100%;
}

.calories {
	text-align: center;
	padding: 20px 20px 0px 20px;
}

.calories p {
	display: inline-block;
	line-height: 200px;
	width: 30%;
}

.calories p:nth-child(2){
	border: 2px solid black;
	border-radius: 25px;
	width: 33%;
	height: 200px;
}

.macros div {
	text-align: center;
	display: inline-block;
	width: 32%;
}

div.col.s12.m7 {
	width: 100%;
}

i.material-icons.right {
	text-align: right;
}

div.col.s12.m5 {
	width: 100%;
}

.card-panel {
	height: 500px;
}
#modal1 {
	max-height: 85%;
}

/*.day_changer {
	display: inline-block;
	width: 60%;	
	text-align: center;
	margin-left: 65px;
}

.day_changer p {
	display: inline-block;
}

.day_changer a {
	font-size: 20px;
}*/
