<!doctype html>
<html lang="en" class="no-js">
<head>
	{% load staticfiles %}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- My Javascript file -->
	<!-- <script src="{% static 'diary/javascript/user_profile.js' %}"></script> -->
	<!-- my css file -->
	<!-- <link rel="stylesheet" href="{% static 'diary/css/user_profile.css' %}" -->
  	
	<title>Diary</title>
</head>
<body>
I'm going to add a calendar here and it's going to be awesome

	<form action="/add_meal" method="post">
	{% csrf_token %}
		<label>Meal Type</label>
		<input type="text" name="type_of">
		<label>Name</label>
		<input type="text" name="title">
		<label>Notes</label>
		<input type="text" name="description">
		<label>Date</label>
		<input type="date" name="date">
	</form>

	<div class="breakfast">
	<table>
		<thead>
			<tr>
				<th>Breakfast</th>
			</tr>
		</thead>
		{% for meal in meals %}
		<tbody>
			<tr>
			{% if meal.type_of === "breakfast" %}
			<td>{{meal.title}}</td>
			<td>{{meal.description}}</td>
		{% endif %}
		</tr>
		</tbody>
		{% endfor %}
	</table>
	</div>
	<div class="lunch">
		Lunch
	</div>
	<div class="dinner">
		Dinner
	</div>
	<div class="snacks">
		Snacks
	</div>

</body>
</html>